.info-parent {
    padding-bottom: 22px;
}

.info-parent__top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100px;
    margin-bottom: 22px;
}

.info-parent__photo {
    margin-right: 18px;

    border-radius: 50%;
}

.info-parent__title {
    max-width: 160px;
    margin: 0;
    margin-top: -4px;
    margin-bottom: 14px;
    padding: 0;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.info-parent__relationship {
    display: inline-block;
    width: 76px;
    height: 30px;
    box-sizing: border-box;

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    vertical-align: middle;
    text-align: center;

    border-radius: 2px;

    &--blue {
        border: solid 1px #62A0E5;
        color: #62A0E5;
    }

    &--pink {
        border: solid 1px #FF5570;
        color: #FF5570;
    }
}

.info-parent__inner {
    display: flex;
    justify-content: space-between;
}

.info-parent__parameters {
    margin: 0;
    padding: 0;

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.info-parent__parameters div {
    display: flex;
}

.info-parent__parameters dt {
    width: 58px;
    margin: 0;
    padding: 0;

    color: #97A3B0;
}

.info-parent__parameters dd {
    margin: 0;
    padding: 0;
}

.info-parent__ownership {
    position: relative;

    display: block;
    align-self: flex-end;
    max-width: 165px;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    padding-right: 44px;
    box-sizing: border-box;

    font-family: inherit;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    text-align: right;

    &::before {
        content: '';

        position: absolute;

        top: -3px;
        right: 0;

        width: 34px;
        height: 34px;

        background-image: url('../img/icon-unconfirmed.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    &--confirmed::before {
        background-image: url('../img/icon-confirmed.svg');
    }
}

