.share {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    border-top: solid 1px #D2DFEE;
}

.share__title {
    margin: 0;
    margin-top: 4px;
    padding: 0;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.share__links {
    font-size: 0;
}

.share__link {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 5px;

    background-position: center;
    background-repeat: no-repeat;

    &:nth-of-type(1) {
        margin-left: 0;
    }

    &:nth-last-of-type(1) {
        margin-right: 0;
    }

    &--vk {
        background-image: url('../img/icon-vk.svg');
    }

    &--fb {
        background-image: url('../img/icon-fb.svg');
    }

    &--ok {
        background-image: url('../img/icon-ok.svg');
    }

    &--telegram {
        background-image: url('../img/icon-telegram.svg');
    }

    &--viber {
        background-image: url('../img/icon-viber.svg');
    }

    &--tw {
        background-image: url('../img/icon-twitter.svg');
    }

    &--mail {
        background-image: url('../img/icon-mail.svg');
    }
}

