@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900&display=swap&subset=cyrillic");
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  background-color: #F1F2F4;
  color: #2C2E3F; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  display: block;
  width: 100%;
  height: 180px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  background-color: #ffffff;
  color: #2C2E3F; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  list-style: none; }

.breadcrumbs__link {
  margin-right: 8px;
  padding-right: 18px;
  font-size: 0; }
  .breadcrumbs__link--back {
    margin-right: 15px;
    padding-right: 0; }
  .breadcrumbs__link:nth-last-of-type(1) {
    margin-right: 0;
    padding-right: 0; }

.breadcrumbs__link a {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  vertical-align: middle;
  text-decoration: none;
  color: #A8ABB4; }
  .breadcrumbs__link a::before {
    content: '';
    position: absolute;
    top: 7px;
    right: -18px;
    width: 6px;
    height: 11px;
    background-image: url("../img/icon-arrow-green.svg");
    background-position: center;
    background-repeat: no-repeat; }

.breadcrumbs__link--back a {
  padding-left: 25px;
  padding-right: 12px;
  font-size: 12px;
  background-color: #28A845;
  color: #ffffff;
  border-radius: 12px; }
  .breadcrumbs__link--back a::before {
    top: 6px;
    left: 10px;
    background-image: url("../img/icon-arrow-white.svg"); }

.breadcrumbs__link--active a {
  color: #000000; }
  .breadcrumbs__link--active a::before {
    background-image: none; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1420px;
  margin: 0 auto;
  margin-bottom: 150px; }

.content__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase; }

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.item__sidebar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 422px;
  margin-right: 20px; }

.item__block {
  margin-bottom: 20px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px; }
  .item__block:nth-last-child(1) {
    margin-bottom: 0; }

.profile-animal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.profile-animal__photo {
  margin: 0 auto;
  margin-bottom: 29px;
  border-radius: 50%; }

.profile-animal__id {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px; }

.profile-animal__title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px; }

.profile-animal__text {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px; }
  .profile-animal__text::before {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat; }

.profile-animal__time {
  margin-bottom: 5px; }
  .profile-animal__time::before {
    top: 4px;
    left: 2px;
    width: 10px;
    height: 10px;
    background-image: url("../img/icon-time.svg"); }

.profile-animal__views {
  margin-bottom: 20px; }
  .profile-animal__views::before {
    top: 5px;
    left: 0;
    width: 13px;
    height: 7px;
    background-image: url("../img/icon-view.svg"); }

.profile-animal__btn {
  display: inline-block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #0087FD;
  color: #0087FD;
  border-radius: 8px; }

.profile-animal__btn span {
  position: relative;
  padding-left: 23px; }
  .profile-animal__btn span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 14px;
    background-image: url("../img/icon-like.svg");
    background-position: center;
    background-repeat: no-repeat; }

.footer {
  display: block;
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  background-color: #3B3B46;
  color: #ffffff; }
