@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900&display=swap&subset=cyrillic");
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaRegular/Helvetica.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  background-color: #F1F2F4;
  color: #2C2E3F; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  display: block;
  width: 100%;
  height: 180px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  background-color: #ffffff;
  color: #2C2E3F; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  list-style: none; }

.breadcrumbs__link {
  margin-right: 8px;
  padding-right: 18px;
  font-size: 0; }
  .breadcrumbs__link--back {
    margin-right: 15px;
    padding-right: 0; }
  .breadcrumbs__link:nth-last-of-type(1) {
    margin-right: 0;
    padding-right: 0; }

.breadcrumbs__link a {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  vertical-align: middle;
  text-decoration: none;
  color: #A8ABB4; }
  .breadcrumbs__link a::before {
    content: '';
    position: absolute;
    top: 7px;
    right: -18px;
    width: 6px;
    height: 11px;
    background-image: url("../img/icon-arrow-green.svg");
    background-position: center;
    background-repeat: no-repeat; }

.breadcrumbs__link--back a {
  padding-left: 25px;
  padding-right: 12px;
  font-size: 12px;
  background-color: #28A845;
  color: #ffffff;
  border-radius: 12px; }
  .breadcrumbs__link--back a::before {
    top: 6px;
    left: 10px;
    background-image: url("../img/icon-arrow-white.svg"); }

.breadcrumbs__link--active a {
  color: #000000; }
  .breadcrumbs__link--active a::before {
    background-image: none; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1420px;
  margin: 0 auto;
  margin-bottom: 150px; }

.content__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase; }

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.item__sidebar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 422px;
  margin-right: 20px; }

.item__block {
  margin-bottom: 20px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px; }
  .item__block:nth-last-child(1) {
    margin-bottom: 0; }

.profile-animal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.profile-animal__photo {
  margin: 0 auto;
  margin-bottom: 29px;
  border-radius: 50%; }

.profile-animal__id {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px; }

.profile-animal__title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px; }

.profile-animal__text {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px; }
  .profile-animal__text::before {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat; }

.profile-animal__time {
  margin-bottom: 5px; }
  .profile-animal__time::before {
    top: 4px;
    left: 2px;
    width: 10px;
    height: 10px;
    background-image: url("../img/icon-time.svg"); }

.profile-animal__views {
  margin-bottom: 20px; }
  .profile-animal__views::before {
    top: 5px;
    left: 0;
    width: 13px;
    height: 7px;
    background-image: url("../img/icon-view.svg"); }

.profile-animal__btn {
  display: inline-block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #0087FD;
  color: #0087FD;
  border-radius: 8px;
  cursor: pointer; }

.profile-animal__btn span {
  position: relative;
  padding-left: 23px; }
  .profile-animal__btn span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 14px;
    background-image: url("../img/icon-like.svg");
    background-position: center;
    background-repeat: no-repeat; }

.rating {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  padding-left: 40px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px; }
  .rating::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-star.svg");
    background-position: center;
    background-repeat: no-repeat; }

.information {
  padding-top: 75px;
  padding-bottom: 20px;
  background-image: url("../img/cat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff; }

.information__rating {
  margin-bottom: 12px; }

.information__title {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 30px; }

.information__link {
  display: inline-block;
  height: 26px;
  margin: 0;
  padding: 0 14px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
  text-decoration: none;
  background-color: rgba(247, 200, 76, 0.3);
  color: #ffffff; }

.info-parent {
  padding-bottom: 22px; }

.info-parent__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-height: 100px;
  margin-bottom: 22px; }

.info-parent__photo {
  margin-right: 18px;
  border-radius: 50%; }

.info-parent__title {
  max-width: 160px;
  margin: 0;
  margin-top: -4px;
  margin-bottom: 14px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px; }

.info-parent__relationship {
  display: inline-block;
  width: 76px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px; }
  .info-parent__relationship--blue {
    border: solid 1px #62A0E5;
    color: #62A0E5; }
  .info-parent__relationship--pink {
    border: solid 1px #FF5570;
    color: #FF5570; }

.info-parent__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.info-parent__parameters {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; }

.info-parent__parameters div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.info-parent__parameters dt {
  width: 58px;
  margin: 0;
  padding: 0;
  color: #97A3B0; }

.info-parent__parameters dd {
  margin: 0;
  padding: 0; }

.info-parent__ownership {
  position: relative;
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 165px;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  padding-right: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  text-align: right; }
  .info-parent__ownership::before {
    content: '';
    position: absolute;
    top: -3px;
    right: 0;
    width: 34px;
    height: 34px;
    background-image: url("../img/icon-unconfirmed.svg");
    background-position: center;
    background-repeat: no-repeat; }
  .info-parent__ownership--confirmed::before {
    background-image: url("../img/icon-confirmed.svg"); }

.block {
  padding-top: 25px; }

.block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.block__title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px; }

.block__link-more {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 2px;
  padding-right: 29px;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #0087FD; }
  .block__link-more::before {
    content: '';
    position: absolute;
    top: 7px;
    right: 11px;
    width: 13px;
    height: 8px;
    background-image: url("../img/arrow-big.svg");
    background-position: center;
    background-repeat: no-repeat; }

.gallery__top {
  margin-bottom: 33px; }

.gallery__slider {
  height: 180px; }

.gallery__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 180px;
  margin-right: 10px;
  overflow: hidden;
  background-color: #F1F2F4;
  background-image: url("../img/bg-gallery.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px; }

.slider {
  position: relative;
  width: 100%;
  overflow: hidden; }

.slider__btn {
  position: absolute; }

.slider__wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3000px; }

.slider__btn {
  z-index: 2;
  position: absolute;
  width: 50px;
  height: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  background-color: #A0A5B5;
  border: none;
  opacity: 0.5;
  cursor: pointer; }
  .slider__btn::before {
    content: '';
    position: absolute;
    top: 42px;
    width: 8px;
    height: 16px;
    background-image: url("../img/arrow.png");
    background-position: center;
    background-repeat: no-repeat; }
  .slider__btn--prev {
    left: 0;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0; }
    .slider__btn--prev::before {
      left: 18px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .slider__btn--next {
    right: 0;
    border-radius: 100% 0 0 100% / 50% 0 0 50%; }
  .slider__btn--active {
    background-color: rgba(40, 168, 69, 0.5);
    opacity: 1; }

.footer {
  display: block;
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  background-color: #3B3B46;
  color: #ffffff; }
